@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: 'Abril Fatface';
  src: url('@/assets/fonts/AbrilFatface-Regular.ttf') format('truetype');
  line-height: 1.5;
  font-weight: 400;
  font-size: 30px;
  overflow-x: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-weight: bold;
  font-weight: 600;
  font-size: 80px;
  @media only screen and (max-width: 600px) {
    font-size: 60px;
  }
}

h2 {
  font-weight: 600;
  font-size: 60px;
  @media only screen and (max-width: 600px) {
    font-size: 40px;
  }
}

h3 {
  font-weight: 600;
  font-size: 40px;
@media only screen and (max-width: 600px) {
  font-size: 20px;
}
}
